.border-radius(@radius) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
}

.box-shadow(@shadow) {
  -webkit-box-shadow: @shadow;
  -moz-box-shadow: @shadow;
  box-shadow: @shadow;
}

.background-size(@size) {
  -webkit-background-size: @size;
  -moz-background-size: @size;
  -o-background-size: @size;
  background-size: @size;
}
#gradient {
  .vertical(@startColor: #555, @endColor: #333) {
    background-color: mix(@startColor, @endColor, 60%);
    background-image: -webkit-gradient(linear,0 0, 0 100%, from(@startColor), to(@endColor));
    background-image: -webkit-linear-gradient(top, @startColor, @endColor);
    background-image: -moz-linear-gradient(top, @startColor, @endColor);
    background-image: -o-linear-gradient(top, @startColor, @endColor);
    background-image: linear-gradient(to bottom, @startColor, @endColor);
    background-repeat: repeat-x;
    filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorStr='%d', endColorstr='%d', GradientType=0)", argb(@startColor), argb(@endColor)));
  }
  .radial(@innercolor: #555, @outercolor: #333) {
    background-color: @outercolor;
    background-image: -webkit-gradient(radial, center center, 0, center center, 460, from(@innercolor), to(@outercolor));
    background-image: -webkit-radial-gradient(circle, @innercolor, @outercolor);
    background-image: -moz-radial-gradient(circle, @innercolor, @outercolor);
    background-image: -o-radial-gradient(circle, @innercolor, @outercolor);
    background-repeat: no-repeat;
  }
}
