// Colors
@defaultTextColor: #454545;
@black: #1a1a1a;
@darkGray: #222;
@white: white;

@linkColor: @darkGray;

// Fonts
@sansFontFamily: 'Arial', sans-serif;
@baseFontSize: 12px;
@baseFontHeight: 14px;
@baseFontFamily: @sansFontFamily;

@fontSizeMedium: 14px;
@lineHeightMedium: 16px;

@fontSizeLarge: 16px;
@lineHeightLarge: 18px;

@fontSizeXLarge: 18px;
@lineHeightXLarge: 22px;

//
@gutter: 10px;
@quarterGutter: @gutter / 4;
@halfGutter: @gutter / 2;
@oneAndHalfGutter: @gutter * 1.5;
@twoAndHalfGutter: @gutter * 2.5;
@doubleGutter: @gutter * 2;
@tripleGutter: @gutter * 3;
@quadrupleGutter: @gutter * 4;

@defaultBorder: @thinBorder solid #ccc;
@thinBorder: 1px;
@thickBorder: 2px;
