.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.block {
  display: block;
}

.inline {
  display: inline;
}

.box-center {
  text-align: center;
  > div {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
  }
}

.vertical-center {
  top: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
}

.middle {
  vertical-align: middle;
}

.offscreen {
  position: absolute;
  left: -5000px;
  top: -1000px;
  height: 0;
  width: 0;
}

.fix-bottom-left {
  position: absolute;
  bottom: 0;
  left: 0;
}

.fix-bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
}

.fix-top-left {
  position: absolute;
  top: 0;
  left: 0;
}

.fix-top-right {
  position: absolute;
  top: 0;
  right: 0;
}
